# Postgres
POSTGRES_USER=jobtracker
POSTGRES_PASSWORD=changeme
POSTGRES_DB=jobtracker
DATABASE_URL=postgresql+asyncpg://jobtracker:changeme@localhost:5432/jobtracker

# Redis
REDIS_URL=redis://localhost:6379/0

# Groq
GROQ_API_KEY="Your Groq API Key Here"

# Tavily
TAVILY_API_KEY="Your Tavily API Key Here"
TAVILY_COVER_LETTER_API_KEY="Your Tavily Cover Letter API Key Here"

# CORS (local)
FRONTEND_ORIGIN=http://localhost:3000

#Notion
NOTION_CLIENT_ID="Your Notion Client ID Here"
NOTION_CLIENT_SECRET="Your Notion Client Secret Here"

# App
APP_NAME=Vector
ENV=local